:root {
  color-scheme: light dark;
}

.vscode-body :is(.fn-noteref, .en-noteref) {
  margin-inline-start: 0.175em;
  margin-inline-end: 0.175em;
  vertical-align: super;
  line-height: 1;
  font-size: 0.85em;
}
.vscode-body .fn {
  margin: 1em 0 0 0;
  /* border-block-end: 1px dashed currentcolor; */
  color: light-dark(oklch(from currentcolor calc(l + 0.05) c h), oklch(from currentcolor calc(l - 0.05) c h));
}
.vscode-body :not(.fn) + .fn {
  margin-block-start: 1.5em;
  /* border-block-start: 1px dashed currentcolor; */
}
.vscode-body .fn + :not(.fn) {
  margin-block-start: 1.5em;
}
.vscode-body .fn {
  line-height: 1.5;
  > * {
    font-size: 0.9em;
    margin-inline-start: 3em;
    * {
      font-size: 100%;
    }
    &:first-child {
      margin-block-end: 0;
    }
    + * {
      margin-block-start: 0.75em;
    }
  }
}
.vscode-body .fn-backlink {
  display: inline-block;
  inline-size: 3em;
  text-align: center;
  margin-inline-start: -3.25em;
}

.vscode-body #endnotes {
  margin-block-start: 3em;
  color: light-dark(oklch(from currentcolor calc(l + 0.05) c h), oklch(from currentcolor calc(l - 0.05) c h));
}
.vscode-body #endnotes > ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.vscode-body #endnotes > ol li {
  line-height: 1.5;
  font-size: 100%;
  > * {
    font-size: 0.9em;
    margin-inline-start: 3em;
    * {
      font-size: 100%;
    }
    &:first-child {
      margin-block-end: 0;
    }
    + * {
      margin-block-start: 0.75em;
    }
  }
  + li {
    margin-block-start: 0.75em;
  }
}
.vscode-body .en-backlink {
  display: inline-block;
  inline-size: 3em;
  text-align: center;
  margin-inline-start: -3.25em;
}